@font-face {
    font-family: "daydream";
    src: 
      local(),
      url("img/Daydream.ttf");
}

body {
    font-family: daydream, verdana;
    font-size: 2em;
    color: #3A3B78;
    background-color: #f8c3d3;
    padding: 0;
    margin: 0;
}

#config-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;
}

#config-button:hover {
    transform: rotate(90deg);
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}


#question {
    visibility: hidden; /* visibility only at start (changed by the css when press start button */
  }

#answer {
    visibility: hidden; /* visibility only at start (changed by the css when press start button */
    text-align: center;
  }

input[type=number] {
    appearance: textfield;
    -moz-appearance:textfield;
    border: none;
    border-bottom: 2px solid goldenrod;
    background-color: #f8c3d3;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
